body {
		margin: 0px;
}

.pesquisa-funcionario, .pesquisa-codigo {
	padding: 10px;
	font-size: 20px;
	margin-bottom: 20px;
}

.centraliza{
	position: absolute;
	text-align: center;
	left: 35%;
	top: 10%;
	width: 50%;
}

.centraliza_linha{
  position: absolute;
  text-align: center;
  left: 25%;
  top: 10%;
  width: 50%;
  font-size: 20px;
  border-style: solid;
}

.cabecalho{
  position: relative;
  /*text-align: left;*/
  left: 25%;
  top: 10%;
  width: 50%;
  font-size: 20px;
  border-style: solid;
}

.td{
	border: 5px solid white;
	border-collapse: collapse;
    text-align:center;
}

.bt{
    border: none;
    background: white;
}

table, td {
    border: 1px solid white;
    border-collapse: collapse;
		width: 100%;

}

th, td {
  padding: 20px;
	height: 50px;
	border: 5px solid white;
}

.footer {
  position: relative;
  left: 25%;
  width: 50%;
  text-align: center;
}

.home {
	position: relative;
	text-align: center;
	left: 25%;
	top: 20%;
	width: 50%;
	font-size: 20px;
	background-color: #ffffff;
	box-shadow: 3px 2px 1px #999999;
	border-radius: 10px;
}

.fundo_home {
	background-color: #c9c0c8;
}

.check, .engrenagem{
	float:left;
	margin-left:1%;
	margin-top: 1%;
}

.logo{
	width:65%;
	height: auto;
	margin: auto;
}

.logo_resultado{
	width:30%;
	height: auto;
	margin: auto;
	float: right;;
}

.topo_lista{
	background-color:#566857;
	padding: 5%;
	color: #ffffff;
	font-size: 300%;
	text-align: center;
}

.topo_lista_min{
	background-color:#566857;
	padding: 5%;
	color: #ffffff;
	font-size: 200%;
	text-align: center;
}

.topo_tabela{
	background-color:#566857;
	padding: 20px;
	width: 200%;
}
.cabecalho-result{
	width: 60%;
	margin: auto;
	position: relative;
	top: 20px;
	font-size: 20px;
	box-shadow: 3px 2px 1px #999999;
}
.cabecalho-result td{
	background-color: #ffffff;
	font-size: 30;
	text-align: center;
}

.tabela1 {
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		width: 60%;
		margin: auto;
		box-shadow: 3px 2px 1px #999999;
}
.check i {
	color: black;
}
.tabela1 td{
		/*border: 1px solid #ddd;*/
		padding: 8px;
}
.tabela1 tr, .tabela1 td {
	background-color: #f2f2f2;
	font-size: 20;
}
.tabela2 {
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		width: 60%;
		margin: auto;
		box-shadow: 3px 2px 1px #999999;
}
.tabela2 td{
		border: 1px solid #ddd;
		padding: 8px;
}

.tabela2 tr:hover {background-color: #ddd;}
.tabela2 tr {
	background-color: #f2f2f2;
	border-bottom-color: #566857;
	border-bottom-style: solid;
	border-bottom-width: 5pt;
	font-size: 20;
}
.tabela3 {
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		width: 60%;
		margin: auto;
		box-shadow: 3px 2px 1px #999999;
}
.tabela3 td{
		border: 1px solid #ddd;
		padding: 8px;
		text-align: center;
}
.tabela3 tr, .tabela3 td {
	background-color: #f2f2f2;
	font-size: 20;
}
.td-borda{
	border: 5pt solid #566857;
}
