body {
		margin: 0px;
}

.pesquisa-funcionario, .pesquisa-codigo {
	padding: 10px;
	font-size: 20px;
	margin-bottom: 20px;
}

.centraliza{
	position: absolute;
	text-align: center;
	left: 35%;
	top: 10%;
	width: 50%;
}

.centraliza_linha{
  position: absolute;
  text-align: center;
  left: 25%;
  top: 10%;
  width: 50%;
  font-size: 20px;
  border-style: solid;
}

.cabecalho{
  position: relative;
  /*text-align: left;*/
  left: 25%;
  top: 10%;
  width: 50%;
  font-size: 20px;
  border-style: solid;
}

.td{
	border: 1px solid white;
  border-collapse: collapse;
}

.bt{
    border: none;
    background: white;
}

table, td {
    border: 1px solid white;
    border-collapse: collapse;
	width: 100%;
	
}

th, td {
    padding: 20px;
	
	height: 50px;
	border: 5px solid white;
}

.footer {
  position: relative;
  left: 25%;
  width: 50%;
  text-align: center;
}

.home {
	position: relative;
	text-align: center;
	left: 25%;
	top: 10%;
	width: 50%;
	font-size: 20px;
	background-color: #ffffff;
	box-shadow: 3px 2px 1px #999999;
	border-radius: 10px;
}

.fundo_home {
	background-color: #c9c0c8;
}

.engrenagem{
	float:left;
	margin-left:1%;
	margin-top: 1%;
}

.logo{
	width:65%;
	height: auto;
	margin: auto;
}

.topo_lista{
	background-color:#566857;
	padding: 5%;
	color: #ffffff;
	font-size: 300%;
	text-align: center;
}

.topo_tabela{
	background-color:#566857;
	padding: 20px;
	width: 200%;
}